#imgProfil.loading {
    opacity: .4;
}
.select2-container .select2-selection--multiple {
    display: flex !important;
    flex-wrap: wrap !important;
    white-space: normal !important;
}
.loading i {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
